html, body {
    margin: 0;
}

.container__app {
    display: grid;
    background-color: lightblue;
    min-height: 100vh;
}

#btn {
    width: 100px;
    height: 40px;
    font-size: 16px;
}

#container__results {
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.remote__iframe {
    flex: 0 1 100%;
    margin: 0 15%;
}

.container__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 75px;
}

.container__input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input__url {
    width: 300px;
    height: 30px;
    border-radius: 3px;
}

.hidden {
    display: none;
}

.red {
    color: red;
}
