html, body {
    margin: 0;
    height: 100vh;
    background-color: lightblue;
}

.container__app {
    padding-top: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#btn {
    width: 100px;
    height: 40px;
    font-size: 16px;
}

.container__button {
    display: flex;
    flex: 0 1 100px;
    align-items: center;
    justify-content: center;
    max-height: 75px;
}

#container__results {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.remote__iframe {
    flex: 0 1 100%;
    margin: 0;
    padding: 0;
    width: 70%;
    height: 50vh;
    order: 1;
}

.container__input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 100px;
}

.input__url {
    width: 300px;
    height: 30px;
    border-radius: 3px;
}


table {
    color: #ddd; 
    font-family: Helvetica, Arial, sans-serif;
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border: 1px solid #CCC;
    height: 30px; 
}

td {
    background: darkblue; /* Lighter grey background */
    text-align: center; /* Center our text */
}

.url_cell, .count_cell {
    color: black;
    background-color: #eee;
}